body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  color: #000;
  background: white;
  padding: 0;
  margin: 0; `
}
.nav {
  border: 1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin-top: -20px;
  margin-bottom: 0;
  padding:0;
  text-align:center;
  background: black;
}
.nav li {
  display: inline;
}
.nav a {
  display: inline-block;
  padding:10px;
  font-size: 20px;
  color: white;
}
header {
  overflow: hidden;
}
footer{
  clear: both;
}
#main {
  width: 960px;
  margin: 20px auto;
  background: #7f7f7f;
}
.sidebar{
  float: right;
  width: 260px;
  padding-left: 10px;
}
.posts{
  width: 690px;
  float: left;
  background: #EEE;
  box-shadow: 3px 0px 7px #777;
}
.post{  /* all contents of a post*/
  padding: 0 20px;
}
.post h2{ /* title of post */
  margin-bottom: 0;
}
.post h5{ /* date of post */
  margin: 0;
}
.post p{ /* text of post */

}
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #aaa;
  text-decoration: none;
}
h1 {
  margin: 0;
}

footer {
  font-size: 0.65em;
  text-align: center;
  color: white;
  background: black;
}