body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  color: black;
  background-color: black;
  padding: 0;
  margin: 0;
}

.emailTip {
  width: 100px;
  height: 20px;
  background: #00F;
  padding-top: 37px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}

/*Hyperlink for in-paragraph test*/
.aInParagraph {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.aInParagraph:hover {
  text-decoration: underline;
  font-weight: bold;
}

hr {
  height: 3px;
  border-color: black;
  background-color: black;
  border-radius: 4px;
}

.date {
  margin-top: -5px;
  font-size: 15px;
  font-style: italic;
}

/*New homescreen styles*/

/*HTML settings*/
html {
  scroll-behavior: smooth
}

/*Main Style*/
#main {
  width: 100%;
  background: white;
}

/*Navbar*/
.navbar {
  background-color: black;
  position: fixed;
  width: 100%;
  margin-top: 0;
  padding: 0;
  text-align: center;
  z-index: 10;
}

.navbar ol {
  list-style: none;
  margin: 0;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
}

.navbar a:hover {
  color: red !important;
}

.navbarAnnouncement {
  position: fixed;
  margin-top: 56px;
  padding: 0;
  text-align: center;
  z-index: 10;
  border: 2px solid rgb(64, 64, 64);
  border-radius: 8px;
  background-color: rgb(16, 16, 16);
  width: 50%;
  transform: translate(50%, 0);
}

.navbarAnnouncement a {
  color: white;
  text-align: center;
  padding: 5px;
}

.navbarAnnouncement a:hover {
  color: red;
}

.home_button {
  float: left !important;
  background-color: red;
}

.home_button:hover {
  color: black !important
}

.discord_button {
  background-color: #7289da;
}

.discord_button:hover {
  color: black !important
}

/*Background*/
.background {
  height: 100vh;
}

.background::before {
  content: "";
  background-image: url('/img/Callout.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/*SIGGD Icon and info in frot of the background*/
.siggdIconAndText {
  text-align: center;
  width: 50%;
  height: 50%;
  transform: translate(50%, 50%);
}

/*Footer*/
footer {
  clear: both;
  font-size: 0.8em;
  text-align: center;
  color: white;
  background: black;
}

footer ol {
  list-style: none;
  margin: 0
}

footer img {
  width: 15%;
  padding: 2%;
}

.footerCentered {
  width: 50%;
  height: 50%;
  transform: translate(50%, 0%);
}

/*Content block*/
.content_block {
  float: left;
  background: white;
  padding: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.content_block p {
  margin-bottom: 0;
  margin-top: 0;
}

/*Title eader for content blocks*/
h1 {
  font-weight: bold;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*Title eader for content block children*/
h2 {
  font-weight: normal;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*Text header for content blocks*/
h3 {
  font-weight: bold;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*Text for announcements*/
h4 {
  font-weight: normal;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*Subttext for content blocks*/
h5 {
  font-weight: normal;
  font-style: italic;
  color: gray;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-weight: normal;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*People*/
.person {
  padding: 2%;
  display: inline-block
}

/*Games*/
.game {
  padding: 2%;
  display: inline-block
}

/*Posts*/
.post {
  padding: 2%;
  display: inline-block
}

/*Used to reverse email to avoid bots picking it up*/
.email {
  unicode-bidi: bidi-override;
  direction: rtl;
}