body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  color: #000;
  background: white;
  padding: 0;
  margin: 0;`
}
nav{
  margin-top: -20px;
}
nav ul {
  margin: 0;
  padding: 0;
  background: black;
}
nav li {
  list-style-type: none;
  display: inline;
}
nav li a {
  margin: 5px;
  color: white;
}
header {
  overflow: hidden;
}
#main {
  width: 960px;
  margin: 0 auto;
  background: #EEE;
}
a {
  color: #000;
  text-decoration: none;
}
 
a:hover {
  color: #aaa;
  text-decoration: none;
}
h1 {
  margin: 0;
}

footer {
  font-size: 0.65em;
  text-align: center;
  color: white;
  background: black;
}