---
layout: default
---

<div class="emailTip"></div>
<div class="games">
    {% for game in site.main_games %}
    <div class="game">
        <a href="{{ game.url }}">
            <h2>{{ game.name }}</h2>
        </a>
        <h5>{{ game.dateRange }}</h5>

        {% if game.content contains '
        <!--more-->' %}
        {{ game.content | split:'
        <!--more-->' | first }}
        <br /><br /><i><a href="{{ game.url }}">Click here to read more..</a></i>
        {% else %}
        {{ game.content }}
        {% endif %}

    </div>
    <hr>
    {% endfor %}
</div>