---
layout: default
---
<div class="content_block">
  <h3>Games</h3>
  <div class="anchor" id="games"></div>
  {% for game in site.games reversed %}
  <div class="game">
    <div style="width: 20%; float:left;">
      <img alt="" src="{{ game.imageLink}}" style="width: 100%;">
    </div>
    <div style="width: 70%; float:left; padding: 2%; padding-top: 1%;">
      <a href="{{ game.url }}">
        <h2>{{ game.title }} ({{ game.dateRange }})</h2>
      </a>
      {{ game.tagline }}
      <br>
      <h5>
        {% assign contentSize = game.content | size %}
        {% if game.content contains '
        <!--more-->' %}
        {{ game.content | split:'
        <!--more-->' | first }}
        <i><a href="{{ game.url }}">(Click here to read more)</a></i>
        {% elsif contentSize > 256 %}
        {{ game.content | truncate: 256 }}
        <i><a href="{{ game.url }}">(Click here to read more)</a></i>
        {% else %}
        {{ game.content }}
        {% endif %}
      </h5>
    </div>
  </div>
  {% endfor %}
</div>