---
layout: default
---

<!-- No idea what this is -->
<div class="emailTip"></div>

<!-- Top of Page -->
<div class="background">
	<div class="siggdIconAndText">
		<!-- Logo -->
		<a href="/"><img src="/img/logos/siggd_icon_HD.png" style="width: 50%;"></a>
		<!-- Name -->
		<h1>Purdue SIGGD</h1>
		<!-- Line -->
		<hr>
		<!-- Short Description -->
		<h3>Purdue ACM's Special Interest Group on Game Development</h3>
	</div>
</div>

<!-- About Us -->
<div class="content_block" id="about">
	<h3>About Us</h3>
	<p>&#083;&#073;&#071;&#071;&#068;&#046;&#112;&#117;&#114;&#100;&#117;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</p>
	<p>
		Founded in Fall 2011, Purdue ACM's Special Interest Group on Game Development is a multi-disciplinary group of
		Purdue University students that creates a new <a class="aInParagraph" style="white-space: nowrap;"
			href="/#games">game</a> each school year. As part of the Association for Computing Machinery Purdue chapter,
		we are the first SIGGD of ACM National. Our goal is to develop creative and interesting games.
		In addition, we host a <a class="aInParagraph" style="white-space: nowrap;" href="/game-jams">game jam</a> (game
		development hackathon) each semester were groups come together either online or in-person to create a video game
		prototype in 48 hours.
		We primarily communicate through our <a class="aInParagraph" style="white-space: nowrap;"
			href="https://discord.gg/Mb2JAhv">Discord Server</a>, so if you are interested in joining the club be sure
		to join!
	</p>
</div>

<!-- Games -->
<div class="content_block" id="games">
	<h3>Games</h3>
	{% assign counter = 0 %}
	{% for game in site.games limit:2 %}
	<div class="game">
		{% assign remainder = counter | modulo: 2 %}
		{% if remainder == 0 %}
		<div style="width: 20%; float:left;">
			<img alt="" src="{{ game.imageLink}}" style="width: 100%;">
		</div>
		<div style="width: 60%; float:left; padding: 2%; padding-top: 1%;">
			<a href="{{ game.url }}">
				<h2>{{ game.name }}</h2>
			</a>
			<h5>{{ game.dateRange }}</h5>
			{% if game.content contains '
			<!--more-->' %}
			{{ game.content | split:'
			<!--more-->' | first }}
			<br /><br /><i><a href="{{ game.url }}">Click here to read more..</a></i>
			{% else %}
			{{ game.content }}
			{% endif %}
		</div>
		{% else %}
		<div style="width: 60%; float:right; padding: 2%; padding-top: 1%;">
			<a href="{{ game.url }}">
				<h2>{{ game.name }}</h2>
			</a>
			<h5>{{ game.dateRange }}</h5>
			{% if game.content contains '
			<!--more-->' %}
			{{ game.content | split:'
			<!--more-->' | first }}
			<br /><br /><i><a href="{{ game.url }}">Click here to read more..</a></i>
			{% else %}
			{{ game.content }}
			{% endif %}
		</div>
		<div style="width: 20%; float:right;">
			<img alt="" src="{{ game.imageLink}}" style="width: 100%;">
		</div>
		{% endif %}
	</div>
	{% endfor %}
</div>

<!-- Current officers -->
<div class="content_block" id="officers">
	<h3>Officers</h3>
	{% assign counter = 0 %}
	{% for person in site.persons %}
	{% if person.endYear == "Present" or person.endYear == "present" %}
	<div class="person">
		{% assign remainder = counter | modulo: 2 %}
		{% if remainder == 0 %}
		<div style="width: 20%; float:left;">
			<img alt="" src="{{ person.imageLink}}" style="width: 100%;">
		</div>
		<div style="width: 60%; float:left; padding: 2%; padding-top: 1%;">
			<a href="{{ person.url }}">
				<h2>{{person.name}} - {{person.role}}</h2>
			</a>
			<h5>{{person.startYear}} - {{person.endYear}}</h5>
			{% if person.content contains '
			<!--more-->' %}
			{{ person.content | split:'
			<!--more-->' | first }}
			<br /><br /><i><a href="{{ person.url }}">Click here to read more..</a></i>
			{% else %}
			{{ person.content }}
			{% endif %}
		</div>
		{% else %}
		<div style="width: 60%; float:right; padding: 2%; padding-top: 1%;">	
			<a href="{{ person.url }}">
				<h2>{{person.name}} - {{person.role}}</h2>
			</a>
			<h5>{{person.startYear}} - {{person.endYear}}</h5>
			{% if person.content contains '
			<!--more-->' %}
			{{ person.content | split:'
			<!--more-->' | first }}
			<br /><br /><i><a href="{{ person.url }}">Click here to read more..</a></i>
			{% else %}
			{{ person.content }}
			{% endif %}
		</div>
		<div style="width: 20%; float:right;">
			<img alt="" src="{{ person.imageLink}}" style="width: 100%;">
		</div>
		{% endif %}
	</div>
	{% endif %}
	{% assign counter = counter | plus:1 %}
	{% endfor %}
	<p><a href="https://docs.google.com/document/d/1ZnjgwkP6vf9UPIZOg6qeTRJo322k_7e-cIcqgDlXgVk/edit?usp=sharing">Learn
			about officer responsibilities here.</a></p>
</div>

<!-- Game Jams -->
