---
layout: default
---

<div class="emailTip"></div>
<div class="posts">
{% for post in site.posts %}
<div class="post">
	<a href="{{ post.url }}">
		<h2>{{ post.title }}</h2>
	</a>
	<h5>{{ post.date | date: "%d %B %Y" }} - {{ post.post_author }}</h5>
	
	{% if post.content contains '<!--more-->' %}
        {{ post.content | split:'<!--more-->' | first }}
        <br/><br/><i><a href="{{ post.url }}">Click here to read more..</a></i>
    {% else %}
        {{ post.content }}
    {% endif %}
    
</div>
<hr>
{% endfor %}
</div>
<div class="sidebar">
	<a href="http://www.github.com/PurdueSIGGD" target="_blank"><img src="/img/github.png" alt= "SIGGDs Github Page"/></a>
	<a href="http://cs.purdue.edu" target="_blank"><img src="/img/purduecs.jpeg" alt="Purdue Computer Science"></a>
	<a href="http://www.purdue.edu/" target="_blank"><img src="/img/purdue.png" alt="Purdue University"></a>
	<p>&#083;&#073;&#071;&#071;&#068;&#046;&#112;&#117;&#114;&#100;&#117;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</p>
	<!-- To avoid bots picking up the email -->
	<p>Meetings: Tuesday,Thursday,Saturday 6:00pm in LWSN B131</p>
	<p></p>
	<!-- ¿Quien es Sombra? -->

</div>
