---
layout: default
---

<!-- No idea what this is -->
<div class="emailTip"></div>

<!-- Logo -->
<div style="background: #000000;">
	<a href="/"><img src="/img/SIGGD Logo 2.png" style="width:960px; background-color:white"></a>
</div>

<!-- Background Image -->

<!-- About Us -->
<div class="content_block">
	<h3>About Us</h3>
	<p>
		Founded in Fall 2011, Purdue Special Interest Group Game Development is a multi-disciplinary collaborative group
		of Purdue University students that creates games as our own development studio. As part of the Association for
		Computing Machinery Purdue chapter, we are the first SIGGD of ACM National. Our goal is to develop creative and
		interesting games.
	</p>
</div>

<!-- Games -->
<div class="content_block">
	<h3>Games</h3>
	{% for game in site.games %}
	<div class="game">
		<a href="{{ game.url }}">
			<h2>{{ game.name }}</h2>
		</a>
		<h5>{{ game.dateRange }}</h5>

		{% if game.content contains '
		<!--more-->' %}
		{{ game.content | split:'
		<!--more-->' | first }}
		<br /><br /><i><a href="{{ game.url }}">Click here to read more..</a></i>
		{% else %}
		{{ game.content }}
		{% endif %}

	</div>
	<hr>
	{% endfor %}
</div>

<!-- Officers -->
<div class="content_block">
	<h3>Officers</h3>
	{% for person in site.persons %}
	<div class="person">
		<a href="{{ person.url }}">
			<h2>{{page.name}} - {{page.role}}</h2>
		</a>
		<h5>{{page.startYear}} - {{page.endYear}}</h5>

		{% if person.content contains '
		<!--more-->' %}
		{{ person.content | split:'
		<!--more-->' | first }}
		<br /><br /><i><a href="{{ person.url }}">Click here to read more..</a></i>
		{% else %}
		{{ person.content }}
		{% endif %}

	</div>
	<hr>
	{% endfor %}
	<p><a href="https://docs.google.com/document/d/1ZnjgwkP6vf9UPIZOg6qeTRJo322k_7e-cIcqgDlXgVk/edit?usp=sharing">Learn
			about officer responsibilities here.</a></p>
</div>

<!-- Game Jams -->

<!-- The last created announcement -->
<div class="content_block">
	<h3>Latest Announcement</h3>
	{% for post in site.posts limit:1 %}
	<div class="post">
		<a href="{{ post.url }}">
			<h2>{{ post.title }}</h2>
		</a>
		<h5>{{ post.date | date: "%d %B %Y" }} - {{ post.post_author }}</h5>

		{% if post.content contains '
		<!--more-->' %}
		{{ post.content | split:'
		<!--more-->' | first }}
		<br /><br /><i><a href="{{ post.url }}">Click here to read more..</a></i>
		{% else %}
		{{ post.content }}
		{% endif %}

	</div>
	<hr>
	{% endfor %}
	<a href="/archive/">Click to see previous announcements.</a>
</div>

<!-- Sidebar 
<div class="sidebar">
	<a href="http://www.github.com/PurdueSIGGD" target="_blank"><img src="/img/github.png"
			alt="SIGGDs Github Page" /></a>
	<a href="http://cs.purdue.edu" target="_blank"><img src="/img/purduecs.jpeg" alt="Purdue Computer Science"></a>
	<a href="http://www.purdue.edu/" target="_blank"><img src="/img/purdue.png" alt="Purdue University"></a>
	<p>&#083;&#073;&#071;&#071;&#068;&#046;&#112;&#117;&#114;&#100;&#117;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
	</p>
	To avoid bots picking up the email
	<p>Meetings: Monday, Wednesday, & Friday @ 7:00pm in the SIGGD discord: </p>
	<a href="https://discord.gg/Mb2JAhv">discord.gg/Mb2JAhv</a>
	<p></p>

</div>-->