<!DOCTYPE html>
<html>

<!-- Metadata -->
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Purdue SIGGD </title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/png" href="/img/SpaceSalvagePlayer.png">
  <link href="/css/lightbox.css" rel="stylesheet" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/lightbox-2.6.min.js"></script>
</head>

<body>
  <div id="main">
    <!-- Navigation Bar -->
    <ul class="navbar">
      <li><a class="home_button" href="#page-top">Purdue SIGGD</a></li>
      <li><a href="/#about">About Us</a></li>
      <li><a href="/#games">Games</a></li>
      <li><a href="/#officers">Officers</a></li>
      <li><a href="/#game_jams">Game Jams</a></li>
      <li><a href="https://discord.gg/Mb2JAhv">Discord</a></li>
    </ul>

    {{ content }}

    <footer>
      <p style="margin:0;">&copy; Purdue SIGGD 2022 - <span class="email">moc.liamg@eudruP.DGGIS</span></p>
    </footer>
    <script type="text/javascript" src="/js/site.js"></script>
  </div>
</body>

</html>