---
---
<!DOCTYPE html>
<html>

<!-- Metadata -->

<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Purdue SIGGD </title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/png" href="/img/logos/SIGGD_logo_final_square.png">
  <link href="/css/lightbox.css" rel="stylesheet" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/lightbox-2.6.min.js"></script>
</head>

<body>
  <div id="main">
    <!-- Navigation Bar -->
    <div class="navbar">
      <div><a class="home_button" href="/">Purdue SIGGD</a></div>
      <!-- The last created announcement -->
      <div>
        <ol>
          <!--This has to be in reverse order to show up correctly-->
          <li><a class="discord_button" href="https://discord.gg/Mb2JAhv">Discord</a></li>
          <li><a href="/archive/">Announcements</a></li>
          <li><a href="/#game_jams">Game Jams</a></li>
          <li><a href="/#officers">Officers</a></li>
          <li><a href="/#games">Games</a></li>
          <li><a href="/#about">About Us</a></li>
        </ol>
      </div>
    </div>

    <!-- Announcement Bar -->
    {% if page.url contains "https://purduesiggd.github.io/" %}
    <!-- Show the Announcement Bar is page has a blank title -->
    <div class="navbarAnnouncement">
      {% for post in site.posts limit:1 %}
      <a href="{{ post.url }}">
        <div style="clear: both;">
          <h4 style="margin-right: 8px;">{{ post.title }}: </h4>
          {% assign nameSize = post.title | size %}
          {% assign contentSize = post.content | size %}
          {% assign contentSize = contentSize | plus:nameSize %}
          {% if post.content contains '
          <!--more-->' %}
          {{ post.content | split:'
          <!--more-->' | first }}
          ...
          {% elsif contentSize > 64 %}
          {{ post.content | truncate: 64 }}
          {% else %}
          {{ post.content }}
          {% endif %}
        </div>
      </a>
      {% endfor %}
    </div>
    {% endif %}

    <!-- Content -->
    <div style="padding-top: 56px; min-height: calc(89vh - 20px - 56px);">
      {{ content }}
    </div>

    <footer>
      <div>
        <a href="http://www.github.com/PurdueSIGGD" target="_blank"><img src="/img/logos/GitHub-Mark-Light-120px-plus.png"
            alt="SIGGD on Github" /></a>
        <a href="https://acm.cs.purdue.edu/" target="_blank"><img src="/img/logos/ACMLogo.png" alt="Purdue ACM"></a>
        <a href="http://cs.purdue.edu" target="_blank"><img src="/img/logos/purdueCS.jpg"
            alt="Purdue Computer Science"></a>
            <a href="https://discord.gg/Mb2JAhv" target="_blank"><img src="/img/logos/discordLogo.svg"
              alt="SIGGD Discord"></a>
      </div>
      <p>&copy; Purdue SIGGD 2022
        <!-- - <span class="email">moc.liamg@eudruP.DGGIS</span>-->
      </p>
      <!--Another way to hide the email from bots: <p>&#083;&#073;&#071;&#071;&#068;&#046;&#112;&#117;&#114;&#100;&#117;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</p>-->
    </footer>
    <script type="text/javascript" src="/js/site.js"></script>
  </div>
</body>

</html>