---
layout: default
---
<div class="game">
    <div style="width: 20%; float:left;">
        <img alt="" src="{{ page.imageLink}}" style="width: 100%;">
    </div>
    <div style="width: 60%; float:left; padding: 2%; padding-top: 1%;">
        <a href="{{ page.url }}">
            <h2>{{ page.title }}</h2>
        </a>
        <h5>{{ page.dateRange }}</h5>
        {% if page.gameLink != null %}
        <a class = aInParagraph href="{{ page.gameLink }}">Download</a>
        <br>
        {% endif %}
        <a class = aInParagraph href="{{ page.sourceLink }}">Github Repo</a>
        {{ page.content }}
    </div>
</div>